@import-normalize;
/*Home*/




/*Navbar*/
.Navbar {
    display: flex;
    justify-content: center;
    align-content: baseline;

    gap: 15px;
    margin: 20px;
}
.Navbar button {
    font-size: 50px;
    border-radius: 10px;
}
button:hover {
    scale: 1.05;
    box-shadow: 0 0 30px #666;
}

